.navBar {
  div {
    width: fit-content;
    background-color: #121212;
    a {
      i {
        font-size: 25px;
      }
    }
  }
  .secondNavDiv {
    padding: 7px;
    padding-top: 1px;
    margin-top: 15px;
    img {
      margin-top: 15px;
    }
  }
}

.songsCont {
  background-color: #121212;
  margin-left: 30px;
  margin-right: 30px;
  div {
    img {
      box-shadow: 0px 0px 29px 0px rgba(0, 0, 0, 0.75);
      -webkit-box-shadow: 0px 0px 29px 0px rgba(0, 0, 0, 0.75);
      -moz-box-shadow: 0px 0px 29px 0px rgba(0, 0, 0, 0.75);
    }
  }
  .songsInfo {
    grid-template-columns: 33% 33% 33%;
  }
  .song {
    grid-template-columns: 33% 33% 33%;
    .songNumbercont {
      position: relative;
      left: -6px;
      margin-left: 10px;
      .songNumber {
        margin-right: 1.3px;
      }
      .songPlayBtn {
        display: none;
      }
    }
    .saveIcon {
      display: none;
      color: white;
      cursor: pointer;
    }
    .saveIconActive {
      color: #1ed760;
      display: block !important;
    }
  }
}
.album6Am {
  box-shadow: 0px 117px 137px -50px rgba(221, 46, 46, 0.75) inset;
  -webkit-box-shadow: 0px 180px 100px -50px rgba(221, 46, 46, 0.75) inset;
  -moz-box-shadow: 0px 117px 137px -50px rgba(221, 46, 46, 0.75) inset;
}
.albumGraduation {
  box-shadow: 0px 117px 137px -50px #ad497f inset;
  -webkit-box-shadow: 0px 180px 100px -50px #ad497f inset;
  -moz-box-shadow: 0px 117px 137px -50px #ad497f inset;
}
.awekenMyLoveAlbum {
  box-shadow: 0px 117px 137px -50px #35b8e6 inset;
  -webkit-box-shadow: 0px 180px 100px -50px #35b8e6 inset;
  -moz-box-shadow: 0px 117px 137px -50px #35b8e6 inset;
}
.albumBlonde {
  box-shadow: 0px 117px 137px -50px white inset;
  -webkit-box-shadow: 0px 180px 100px -50px white inset;
  -moz-box-shadow: 0px 117px 137px -50px white inset;
}
